
@{
    Layout = "_LayoutGuest";
    ViewData["Title"] = "ForgetMyPassword";
}

<div class="page ">
    <div class="page-content z-index-10">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-md-12 col-md-12 d-block mx-auto">
                    <div class="card mb-0">
                        <div class="card-header">
                            <h3 class="card-title">Forgot password</h3>
                        </div>
                        <div class="card-body">
                            @if (ViewData["lblMessage"] != null)
                            {
                                <div class="alert alert-info">
                                    @ViewData["lblMessage"]
                                </div>

                            }
                            <form action="~/home/ForgetMyPassword" method="post">
                                <div class="form-group">
                                    <label class="form-label text-dark" for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" name="email" placeholder="Enter email">
                                </div>
                                <div class="form-footer">
                                    <button type="submit" class="btn btn-primary btn-block">Send</button>
                                </div>
                                <div class="text-center text-dark mt-3 ">
                                    Forget it, <a href="~/Home/Login">send me back</a> to the sign in.
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

