@model string
@{
    Layout = "";
}

<div id="@Model">
    <div class="modal modal-loader" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                </div>
                <div class="modal-body">
                    <div class="spinner-border spinner-border-sm text-primary" role="status"><span class="sr-only"></span></div> Loading...
                </div>
            </div>
        </div>
    </div>
</div>